body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
  padding: 0 20%;
}

.carousel-item {
  padding: 7% 15%;
}

.contact-icons {
  padding: 20px 10px;
  color: #8f8f8f;
}

.contact-icons:hover {
  color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}
.cr{
  padding: 0;
}
.download-btn {
  margin: 10% 5% 10% 0;
}

.download-btn-bottom {
  margin: 10% 3% 0 0;
}

.features-img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.press-logo {
  margin: 20px;
  width: 15%;
}

.primary-iphone-img {
  width: 60%;
}

.row {
  padding-top: 4.5rem;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 7% 18%;
}

#features {
  position: relative;
  background-color: #fff;
  padding: 4% 3% 3%;
  z-index: 1;
  bottom: 150px;
}

#footer {
  padding-top: 2%;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

#press {
  background-color: #ff7389;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#testimonials {
  text-align: center;
  background-color: #ff7389;
  color: #fff;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  #features {
    position: static;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
